<div class="bootstrap-wrapper ">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 signUp">
                <mat-card>
                <div class="container text-center ss">
            
                    <img src="../../../assets/logo.png" alt="No Img">
                </div>
                <h1 class="text-center">Login Here</h1>
                <form action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input required  name="username" matInput placeholder="Enter Here">
                        <mat-hint>valid User Name</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input type="password" required  name="password" matInput placeholder="Enter Here">
                     </mat-form-field>

                     <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                        <button mat-raised-button color="accent" >Reset</button>
                    </div>
                    

                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>